html,
body {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url(../assets/green.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  /* height: 100vh; */
}

.bg2 {
  background-image: url(../assets/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  /* height: 100vh; */
}

.bg3 {
  background-image: url(../assets/springreen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.top {
  padding-top: 70px;
  padding-bottom: 20px;
}

.h1 {
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.h2 {
  font-size: 40px;
  text-align: center;
}

.h3 {
  font-size: 30px;
  text-align: center;
}

.h4 {
  font-size: 33px;
  margin: 10px 60px;
}

.instructions {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

#info {
  text-align: center;
  font-size: 30px;
}

canvas {
  display: block;
  margin: 0 auto;
}

#promptButton {
  text-align: center;
  font-size: 28px;
  justify-content: center;
  background-color: lightgreen;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  height: 70px;
}

#promptButton:hover {
  background-color: mediumspringgreen;
}

#submit {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#whole {
  display: flex;
}

#left {
  flex-grow: 1;
  margin: 30px;
}

#center {
  margin: 0 auto;
}

#right {
  flex-grow: 1;
  margin: 30px;
}

.pageButton {
  background-color: lightgreen;
  text-align: center;
  margin: 0 20px;
  width: 120px;
  height: 80px;
  font-size: 20px;
  border-radius: 30px;
}

.pageButton:hover {
  background-color: mediumspringgreen;
}

.bottomButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
}

.titleButtons {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.titleContent {
  text-align: center;
}

.archives {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#museumtop {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start {
  width: 100wv;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font1 {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.font2 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

.gardendivs p {
  flex-grow: 1;
  text-align: center;
}